a {
    transition: none !important;
}

.layui-nav-item .iconfont {
    margin-right: 8px;
}

.layui-nav-item .layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

.layui-footer {
    text-align: center;
}

.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-side-scroll .userinfo {
    width: 200px;
    height: 60px;
    line-height: 60px;
    user-select: none;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #282b32;
    visibility: hidden;
    
}

.layui-nav-img{
    width: 40px;
    height: 40px;
    display: none;
}
.text-avatar {
    display: inline-block;
    visibility: hidden;
    width: 40px;
    height: 40px;
    background-color: #009688;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
}